<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;1,400&display=swap" rel="stylesheet">

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  height: 48px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 3rem 0;
  background-color: #101010;
}

.mazda_Logo {
  width: 12%;
}

.nav {
  display: flex;
  font-size: 1rem;
  gap: 2.3rem;
}

.nav a {
  color: #d8cfc6;
  trasition: 0.9s;
}

.nav a:hover {
  color: #F2F2F2;
}

.container {
  width: 100%;
  height: 50rem;
  margin-top: 3rem;
}

.bgSizeCover {
  height: 50em;
  background-image: url("https://www.hdcarwallpapers.com/download/2021_mazda3_skyactiv_g_awd_turbo_hatchback_5k-3840x2160.jpg");
  background-size: cover;
  /* filter: opacity(75%); */
}

.bgSizeCover .hero_left{
  position: absolute;
  bottom: 0;
  left: 0;
  text-aling: center;
  padding: 1.5rem;
  margin-left: 15%;
  margin-bottom: 5%
}

.bgSizeCover .hero_right{
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: -9px;
  bottom: 0;
  right: 0;
  text-aling: center;
  padding: 1.5rem;
  margin-right: 14%;
  margin-bottom: 5%;
  transition: 0.5s;
}

.bgSizeCover .hero_right:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bgSizeCover .text {
  font-family: 'Archivo', sans-serif;
  font-size: 4.3em;
}



/* Footer */

.footer_socialMedia {
  margin-top: 20px;
  height: 48px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 3rem 0;
  border: solid 2px;
  border-color: #FFF;
}