::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #47f4ff;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #28d1de;
}